<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shortstack.hackertracker"
          android:versionCode="9"
          android:versionName="1.8"
          android:installLocation="auto">
    <uses-sdk android:minSdkVersion="8"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".Activity.Splash"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.HackerTracker"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name=".HackerTracker" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Contests"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".Activity.Stars"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".Activity.Maps"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".Activity.TwitterFeed"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".Activity.Entertainment"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".Activity.Vendors"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".Activity.Speakers"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".Activity.About"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".Activity.Faq"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@android:style/Theme.NoTitleBar"/>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
