<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shortstack.hackertracker"
    android:installLocation="auto"
   >

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.shortstack.hackertracker.Application.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="com.shortstack.hackertracker.Activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.shortstack.hackertracker.Activity.TabHomeActivity"
            android:icon="@drawable/skull"
            />

        <activity android:name=".Activity.SettingsActivity"
            android:theme="@style/PreferenceScreen">

        </activity>

        <activity android:name="com.shortstack.hackertracker.Fragment.InformationFragment" />

        <activity android:name="com.shortstack.hackertracker.Activity.MapsActivity" />

        <activity android:name="com.shortstack.hackertracker.Activity.VendorsActivity" />

        <activity android:name=".Fragment.InformationFragment" />

        <receiver android:name="com.shortstack.hackertracker.Utils.AlarmReceiver"></receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3439e34f4fcc9d7eabf24f7ce529cd7415acc49d" />
    </application>

</manifest>
